/* wkndiconfont */

[class$=-icon],[class$=__icon],[class*=-icon],[class*=__icon] {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: wknd-icon-font!important;
  font-size: 1.25rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none
}

.wkndicon-google:before {
  content: ""
}

.wkndicon-twitter:before {
  content: ""
}

.wkndicon-facebook:before {
  content: ""
}

.wkndicon-instagram:before {
  content: ""
}

.wkndicon-social-share:before {
  content: ""
}

.wkndicon-map:before {
  content: ""
}

.wkndicon-alert:before {
  content: ""
}

.wkndicon-download:before {
  content: ""
}

.wkndicon-info:before {
  content: ""
}

.wkndicon-email:before {
  content: ""
}

.wkndicon-comment:before {
  content: ""
}

.wkndicon-share:before {
  content: ""
}

.wkndicon-user:before {
  content: ""
}

.wkndicon-home:before {
  content: ""
}

.wkndicon-right-arrow:before {
  content: ""
}

.wkndicon-left-arrow:before {
  content: ""
}

.wkndicon-minus:before {
  content: ""
}

.wkndicon-plus:before {
  content: ""
}

.wkndicon-location:before {
  content: ""
}

.wkndicon-search:before {
  content: ""
}

.wkndicon-delete:before {
  content: ""
}

.wkndicon-cart:before {
  content: ""
}

.wkndicon-menu:before {
  content: ""
}

.wkndicon-lock:before {
  content: ""
}

.wkndicon-unlocked:before {
  content: ""
}

.wkndicon-play3:before {
  content: ""
}

.social-icons-parent {

}